
body {
    background-color: #fff;
    font-size: 100%;
    line-height: 1.5;
    color: #000;
}
em{
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.35;
    font-family: "PingFang SC",Verdana,"Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",sans-serif;
}
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    margin-top: 1.2em;
    margin-bottom: .6em;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.8em;
}
h3{

}
.post h2{
    margin-top: 1.2em;
    margin-bottom: .6em;
}
.navbar .navbar-brand img{
    display: block;
    width: 105px;
    height: 36px;
    overflow: hidden;
    text-indent: -9999px;
}
.container {
    max-width: 1190px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    padding: 0px;
    height: 60px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 1px solid #eee;
}
.navbar .navbar-collapse{
    float: left;
    padding-left: 50px;
}
.navbar .navbar-collapse li{
    position: relative;
    float: left;
    height: 100%;
    margin: 0 10px;
    line-height: 60px;
}
.navbar .navbar-collapse li .nav-link{
    padding: 0 15px;
    height: 100%;
    display: block;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
    color: #333;
    text-decoration: none;
}

.navbar .navbar-collapse li .nav-link:hover {
    color: #1abc9c;
}
.banner{
    position: relative;
    background-color: #6190e8;
    -webkit-transition: background-color ease 1s;
    -moz-transition: background-color ease 1s;
    -o-transition: background-color ease 1s;
    -ms-transition: background-color ease 1s;
    transition: background-color ease 1s;
    height: 250px;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.navbar .fa-bars{
    color:#6190e8;
}
.wxcode img{
    margin-bottom: 10px;
}
section{
    padding-top: 20px;
}
section .main{
    float: left;
    width: 930px;
    margin-right: 20px;
}
section aside{
    float: left;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0 20px 15px;
}
section nav{
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background: #fff;
}
section nav ul{
    white-space: nowrap;
    display: block;
    height: 100%;
    font-size: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding-left: 0px;
}
section nav ul li{
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    margin: 10px 10px 10px 0;
    height: 30px;
    line-height: 30px;
}
section nav ul li a{
    text-decoration: none;
    color: #333333;
}
section nav ul li a:hover{
    color: #1abc9c;
    text-decoration: none;
}
section nav ul li.active a{
    color: #fff;
}
section nav ul li.active a:hover {
    color: #fff;
    cursor: default;
}
section nav ul li.active{
    background: #6190e8;
    font-weight: 400;
}
.articles{
    margin-right: -30px;
}
.article{
    display: block;
    overflow: hidden;
    background: #fff;
    margin: 0 30px 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 280px;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    -ms-transition: box-shadow .2s;
    transition: box-shadow .2s;
}
.article:hover{
    text-decoration: none;
    webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transition: box-shadow .2s;
}
.article img{
    width: 100%;
}
.article h3{
    height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 24px;
    font-size: 1.1em;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
    font-weight: 400;
    font-family: "PingFang SC",Verdana,"Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei",sans-serif;
    color: #000;
}
.imgbox{
    position: relative;
    display: block;
    width: 100%;
    height: 113px;
    overflow: hidden;
}
.titlebox{
    padding: 10px;
    overflow: hidden;
}
.titlebox p{
    color: #646464;
    height: 40px;
    line-height: 20px;
    font-weight: 300;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
    margin-bottom: 5px;
}
.backtop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 999;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}
.backtop i{
    margin-top: 10px;
}
.wxcode{
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.titlebox span{
    color: #646464;
}
.fltitle{
    height: 20px;

}
.fltitle h2{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    padding-left: 15px;
}
.fltitle h2:before{
    content: ' ';
    display: inline-block;
    height: 100%;
    width: 3px;
    background: #6190e8;
    float: left;
    margin-left: -15px;
}
.fl_list ul{
    list-style: none;
    padding-left: 0px;
}
.fl_list{
    padding: 10px 15px;
}
.fl_list li{
    margin-bottom: 8px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fl_list li a{
    color: #333;
    text-decoration: none;
}
.fl_list li a:hover{
    color: #1abc9c;
}
.main{
    overflow: hidden;
}
footer{
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    color: #88888b;
    padding: 30px 0 15px;
    line-height: 22px;
    border-color: #e0e0e0;
    font-size: 0.85em;
}
footer a{
    color: #88888b
}
.main-section{
    overflow: hidden;
}
.preBtn{
    float: left;
}
.nextBtn{
    float: left;
}
.pagerBox>span{
    float: left;
    margin: 0 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #6190e8;
}
.pagerBox{
    margin: 50px 0px;
    height: 36px;
    width: 235px;
    float: right;
    margin-right: 30px;
}
.pagerBox a{
    font-size: 14px;
    color: #6190e8;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    transition: all .2s;
    border: 1px solid #6190e8;
}
.pagerBox a:hover{
    background: #6190e8;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.disab{
    cursor: not-allowed;
}
.pagerBox a.disab:hover{
    background: #fff;
    color: #6190e8;
}
.posticon{
    padding-top: 20px;
    margin-bottom: 0px;
}
.posticon img{
    max-width: 100%;
}
.posttitle{
    padding: 20px 0px;
}
.posttitle h1{
    /*padding: 20px 0px;*/
    font-size:2em;
    font-weight: 400;
    color: #333333;
}
.posttitle p{
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 30px;
}
.post{
    color: #444;
    margin-bottom: 50px;
}
.post pre, .post .highlight {
    background: #2d2d2d;
    margin: 20px 0px;
    padding: 15px 20px;
    /*border-style: solid;*/
    /*border-color: #eef1f8;*/
    /*border-width: 1px 0;*/
    overflow: auto;
    color: #ccc;
    font-size: 0.9em;
    /*line-height: 1em;*/
}
pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #9c9;
}
.post p, .post table {
    line-height: 1.6em;
    margin: 1.6em 0;
}
.post table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.post .highlight table {
    margin: 0;
    width: auto;
}
.post .highlight td {
    border: none;
    padding: 0;
}
.post .highlight .gutter pre {
    color: #aaa;
    text-align: right;
    padding-right: 20px;
    font-size: 0.85em;
}
pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #9c9;
}
pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f99157;
}
.post .highlight .line {
    height: 1.7em;
}
pre .keyword, pre .javascript .function {
    color: #c9c;
}
.post blockquote {
    padding: 0.1px 20px;
    font-family: Arial, "open sans", "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    color: #999;
    margin: 1.4em 0px;
    border: 1px solid #eee;
    border-left: 2px solid #6190e8;

}
.post  ul, .post  ol, .post  dl {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}
.post ul, .widget ul {
    list-style: circle;
}
.postNav .toc{
    padding: 10px 15px;
    padding-left: 0px;
    margin-left: 0px;
}
.postNav ol{
    padding: 0;
    margin-left: 1em;
    line-height: 1.8em;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.postNav ol li{
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.postNav ol a{
    color: #666;
    transition: all .2s;
}
.postNav ol a:hover{
    color: #1abc9c;
    text-decoration: none;
}
.navfixed{
    position: fixed;
    top: 40px;
    width: 225px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rewardBox{
    text-align: center;
    margin: 60px 0px;
}
.reward-btn{
    display: inline-block;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #6190e8;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    transition: all .3s;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.reward-btn:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.reward-btn  i{
    margin-right: 5px;
}
.reward-modal{
    animation: blowUpModal .5s cubic-bezier(.165,.84,.44,1) forwards;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    padding: 50px;
    border-radius: 3px;
    font-weight: 300;
}
.reward-wechat{
    display: inline-block;
    padding: 10px 0;
    width: 120px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    transition: all .3s;
    background-color: #44b549;
    color: #fff;
}
#reward-modal-container .reward-tab a{
    display: inline-block;
    padding: 10px 0;
    width: 120px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    transition: all .3s;
}
#reward-modal-container .reward-tab .reward-alipay.active {
    background-color: #059AE3;
    color: #fff;
}
#reward-modal-container .reward-tab .reward-wechat.active {
    background-color: #44b549;
    color: #fff;
}
#reward-modal-container .reward-image{
    display: none;
}
#reward-modal-container .reward-image.active {
    display: block;
    max-width: 300px;
    margin: 20px auto;
}
#reward-modal-container{
    display: none;
}
#gitalk-container{
    margin-bottom: 50px;
}
.timeline .title{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    background-color: #6190e8;
    color: #fff;
    margin: 0px;
}
.timeline-row{
    margin-left: 1rem;
    padding-left: 1.5rem;
    border-left: 1px solid #dbdbdb;
    position: relative;
    padding-top: 1rem;
    padding-bottom:0.75rem;
}
.timeline-row:before {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    width: 9px;
    height: 9px;
    top: 1.3rem;
    background: #dbdbdb;
    border-radius: 50%;
}
.archivesBox .timeline-row:last-child:after{
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    top: calc(1.3rem + 9px);
    width: 9px;
    bottom: 0;
    background: #fff;
}
.archivesBox{
    /*background-color: #fafafa;*/
    padding: 1.5rem;
    overflow: hidden;
    border-radius: 2px;
}
.article-date time{
    font-size: .85rem!important;
    color: #7a7a7a !important;
}
.timeline-article-title{
    color: #242424!important;
    font-size: 1rem !important;
    transition: all .2s;
}
.timeline-article-title:hover,.article-tag a:hover{
    color: #3273dc!important;
    text-decoration: none;
}
.article-tag a,.article-tag{
    color: #7a7a7a!important;
    transition: .2s ease;
    cursor: pointer;
    text-decoration: none;
    font-size: .85rem!important;
}
.article-tag a{
    margin:0px 2px;
}
@media (min-width: 1600px){
    .container {
        max-width: 1490px;
    }
    section .main{
        width: 1230px;
    }
}
@media (max-width: 1279px) and (min-width: 1024px){
    .container {
        max-width: 990px;
    }
    section .main{
        width: 730px;
    }
    .article {
        width: 320px;
        height: 248px;
        margin-right: 60px;
    }
    .imgbox{
        height: 130px;
    }
}
@media (max-width: 1023px){
    .header{
        padding: 0 15px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
    .container {
        max-width: 100%;

    }
    section .main{
        width: 100%;
    }
    section aside{
        display:none;
    }
    .article{
        float: none;
        width: auto;
        height: auto;
        margin: 0 15px 20px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
    .articles{
        margin-right: 0;
    }
    .imgbox{
        height: auto;
    }
    .posticon{
        padding-top: 0px;
    }
    .posticon img {
        width: 100%;
    }
    .posttitle{
        text-align: center;
    }
    .post-content{
        padding: 0 20px;
    }
    section{
        padding-top: 0px;
    }
    #gitalk-container{
        padding: 0px 20px;
    }
}