<footer id="footer">
    <div class="container">
        <p> 由
            <a href="http://hexo.io/" target="_blank">Hexo</a>
            和
            <a href="https://github.com/zhaodongming/hexo-theme-baozi" target="_blank">Hexo-theme-zdm</a> 提供支持
        </p>
        <p id="copyRightEn">版权所有 © 2013 - <%= new Date().getFullYear()%> <%= config.author %> All Rights Reserved.</p>
        <p class="busuanzi_uv">
            访客数 : <span id="busuanzi_value_site_uv"></span> |
            访问量 : <span id="busuanzi_value_site_pv"></span>
        </p>
    </div>
</footer>