<div id="rewardBox">
    <a href="javascript:;" class="reward-btn"><i class="fa fa-credit-card"></i>打赏支持</a>
    <div id="reward-modal-container">
        <div class="reward-modal-background">
            <div class="reward-modal">
                <p class="reward-quote">
                    <i class="reward-quote-left"></i>
                    <span class="reward-quote-word">如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作!</span>
                    <i class="reward-quote-right"></i>
                </p>
                <div class="reward-tab">
                    <a href="javascript:;" class="reward-wechat active" data-index="0">微信</a>
                    <a href="javascript:;" class="reward-alipay" data-index="1">支付宝</a>
                    <img src="<%= theme.reward.wechat%>" alt="wechat" class="reward-image active">
                    <img src="<%= theme.reward.alipay%>" alt="alipay" class="reward-image">
                </div>
            </div>
        </div>
    </div></div>